<p id="notice"><%= notice %></p>

<p>
  <strong>Api key:</strong>
  <%= @channel.api_key %>
</p>

<p>
  <strong>Api secret:</strong>
  <%= @channel.api_secret %>
</p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @channel.type %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @channel.domain %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
